@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body{
	background: black;
	padding: 3%;
}

h3{
	font-size: 2em;
}
#contentGrid{
	display: grid;
  	grid-template-columns: repeat(3, 1fr);
  	grid-template-rows: repeat(2, 1fr);
  	grid-gap: 2%;
  	margin: 2%;
  	padding: 2%;
  	color: white;
  	font-family: 'Roboto Condensed', sans-serif;

}

.logo{
	max-width: 100%;
	height: auto;
	filter: invert(100%);
}

.characterImage{
	display: flex;
	max-width: 100%;
	height: auto;
}

